// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
.Nav0 {
 background-color: #dcfaf9;
}

.Nav1 {
  position: relative;
}

.Nav2{
  margin-left: 5vh;
}

.Nav {
  right: 0px;
  position: absolute;
  background-color: #dcfaf9;
  padding: 0px 3vh;
  border-radius: 5px;
}

.MoveNav {
  width: 5vh;
}



