.OpeningPage {
  display: flex;
  overflow: hidden;
}

.BccP1 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.DisappearingButton {
  opacity: 1;
}

.MouseP1 {
  height: 25vh;
  position: absolute;
  bottom: 5vh;
  left: calc(50% - 15vh);
}

.ClickP1 {
  height: 10vh;
  position: absolute;
  bottom: 15vh;
  left: 50%;
}

.TalkBoxBorder {
  position: absolute;
  height: 20vh;
  bottom: 30vh;
  left: calc(50% - 10vh);
  padding: 1vh 2vh;
}

.TalkBox {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  position: absolute;
  bottom: 32vh;
  left: calc(50% - 10vh);
  padding: 2vh 3vh;
  // transition: 200s;
}

.TalkBox::before {
  border-color: #888888 transparent transparent;
  border-style: solid solid solid;
  border-width: 10px;
  bottom: -20px;

  /* 必須指定，才能顯示內容 */
  content: "";

  height: 0px;
  left: 30px;

  /* 必須指定，否則會變梯形 */
  position: absolute;

  width: 0px;
}

.TalkBox::after {
  border-color: #fff transparent transparent;
  border-style: solid solid solid solid;
  border-width: 10px;
  bottom: -19px;

  /* 必須指定，才能顯示內容 */
  content: "";

  height: 0px;
  left: 30px;

  /* 必須指定，否則會變梯形 */
  position: absolute;

  width: 0px;
}

.TalkBox2 {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  position: absolute;
  bottom: 32vh;
  left: calc(50% - 20vh);
  padding: 2vh 3vh;
  line-height: 1.5;
  margin-right: 3vh;
}

.TalkBox2::before {
  border-color: #888888 transparent transparent;
  border-style: solid solid solid;
  border-width: 10px;
  bottom: -20px;

  /* 必須指定，才能顯示內容 */
  content: "";

  height: 0px;
  left: 100px;

  /* 必須指定，否則會變梯形 */
  position: absolute;

  width: 0px;
}

.TalkBox2::after {
  border-color: #fff transparent transparent;
  border-style: solid solid solid solid;
  border-width: 10px;
  bottom: -19px;

  /* 必須指定，才能顯示內容 */
  content: "";

  height: 0px;
  left: 100px;

  /* 必須指定，否則會變梯形 */
  position: absolute;

  width: 0px;
}

.BtnsP1 {
  display: flex;
  justify-content: space-around;
  margin: 2vh;
}
