* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.T1 {
  width: 100%;
  height: 45px;
  background-color: #543b17;
  display: flex;
}

.T1 .row {
  position: relative;
}

.T1-1 {
  color: white;
  font-size: 18px;
  margin: auto;
  height: 100%;
}

.T1-2 {
  width: 100%;
  position: absolute;
  justify-content: space-around;
}

.nav-item {
  margin-top: 7px;
}

.T1-2 .nav-link {
  font-size: 12.8px;
  color: #ffffffcc;
  height: 40px;
  padding-bottom: 0px;
}

.navbar1 {
  display: flex;
  width: 1080px;
  height: 131px;
  margin: 0px auto;
  padding: 0px 15px;
}

.navbar-nav {
  display: flex;
  margin: auto;
  justify-content: flex-end;
  align-items: center;
}

.dropdown-menu {
  border-radius: 20px;
  border-color: #d39680;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.btn {
  border-radius: 50px;
  line-height: 1.5;
}

.btn-dark {
  margin-left: 10px;
  outline: 1px;
  border: solid;
  background-color: #6c5c53;
}

.btn-dark:hover {
  margin-left: 10px;
  outline: 1px;
  border: solid;
  background-color: #423a36;
}

/* 下拉式選單的三角形 */
.dropdown-toggle::after {
  border: 0px;
}

/* banner下按鈕 */
.dogfood {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.dogfoodimg {
  width: 325px;
  /* height: 197px; */
  position: relative;
  overflow: hidden;
  padding: 0px 15px 30px;
}

.dogfoodimg img {
  width: 100%;
}

.dogfoodimg img:hover {
  width: 100%;
  transition: 0.5s;
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.doctorimg img {
  width: 100%;
}

.section-content {
  width: 100%;
  background-color: #4a3627;
}

.containersc {
  width: 90%;
  justify-content: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.scimg img {
  width: 100%;
}

.scimg img:hover {
  width: 100%;
  transition: 0.5s;
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.block {
  /* display: block; */
  padding-top: 30px;
  height: 30px;
  box-sizing: border-box;
  color: grb(119, 119, 119);
}

.recommendimg img {
  width: 100%;
}

.cardsgroup_2 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  max-width: 1065px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.cardsgroup_3 {
  position: relative;
  width: 20%;
  padding: 0 9.8px 19.6px;
}

.sale {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #ca7658;
  z-index: 66;
  margin: 30px -15px 0px;
  color: aliceblue;
}

.sale_1 {
  position: absolute;
  margin: 12px 0px 0px 8px;
}

.cardsgroup_3 .card {
  margin-top: 10px;
  height: 90%;
  z-index: 0;
}

/* 先做其他的ㄅ */
.cardsgroup_3:hover .card-img-top {
  src: url("./image/web_sliderB03.jpg");
  transition: 0.2s;
  box-shadow: rgb(167, 164, 164) 0px 5px 5px;
}

.cardsgroup_3 .card:hover {
  transition: 0.2s;
  box-shadow: rgb(167, 164, 164) 0px 5px 5px;
}

.petcards {
  width: 20%;
  padding: 0 9.8px 19.6px;
  object-position: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.petcard1 img {
  width: 100%;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  background-image: url("./image/recommend4.jpeg");
  background-size: cover;
}

.petcards:hover .circle img {
  /* background-image: url("./image/web_sliderB03.jpg");樓上生食餐作法 */
  transition: 0.5s;
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.petbox1box-text-inner {
  text-align: center;
}

.person-name {
  font-size: 18px;
  color: #6c5c53;
  margin: 0px;
}

.person-title {
  font-size: 16px;
  color: rgb(187, 186, 186);
}

.pets5000 img {
  width: 100%;
  object-fit: cover;
}

.col-sm-3 img {
  width: 100%;
  object-fit: cover;
}

.free {
  background-color: rgb(255, 250, 246);
  display: flex;
  object-fit: cover;
}

.free1000 img {
  width: 100%;
  object-fit: cover;
  margin: 0 15px 30px;
}

.footer {
  text-align: center;
  font-size: 0.9em;
  color: #6c5c53;
  opacity: 1;
  position: relative;
  border-top: 1px solid rgb(233, 230, 230);
  margin-top: 20px;
}

.aboutdc {
  text-align: center;
  margin-left: 15px;
  padding: 20px 0px 60px 0px;
  /* padding-bottom: 60px; */
  /* border-top: 1px solid lightgrey; */
  border-right: 1px dashed lightgrey;
}

.aboutdc_last {
  text-align: center;
  margin: 0px 30px;
  padding-top: 20px;
  padding-bottom: 60px;
  /* border-top: 1px solid lightgrey; */
  /* border-right: 1px dashed lightgrey; */
}

.mediaicon {
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  opacity: 0.5;
}

.fa-facebook-square:hover {
  color: #000000;
  opacity: 1;
}

.fa-instagram:hover {
  color: #000000;
  opacity: 1;
}

.fa-phone:hover {
  color: #000000;
  opacity: 1;
}

.aboutdc_1:hover .aboutdc_1_1 {
  margin: auto;
  width: 12rem;
  height: 0.1rem;
  background-color: rgb(78, 52, 52);
  margin-top: 3px;
  transition: 0.3s;
}

.aboutdc_1_1 {
  margin: auto;
  width: 8rem;
  height: 0.1rem;
  background-color: lightgrey;
  position: relative;
  margin-top: 3px;
}

.aboutdc_1_2 {
  margin: auto;
  width: 15rem;
  height: 0.1rem;
  background-color: lightgrey;
  position: relative;
  margin-top: 3px;
}

.aboutdc_1:hover .aboutdc_1_2 {
  margin: auto;
  width: 17rem;
  height: 0.1rem;
  background-color: rgb(78, 52, 52);
  margin-top: 3px;
  transition: 0.3s;
  text-align: center;
}

.line {
  background-color: rgb(207, 204, 204);
  width: 70%;
  height: 3px;
  margin: 10px auto;

  /* width: 10vw;
  height: 1.5px;
  background-color: rgb(19, 18, 18);
  position: absolute;
  right: -3vw;
  top: 25px; */
}

/* onlyPC */
@media (max-width: 1023px) {
  .T1-1 {
    color: white;
    font-size: 18px;
    margin: auto;
    height: 100%;
  }

  .nav-item {
    display: none;
  }

  .logo1 {
    margin: auto;
  }

  .navbar-toggler {
    display: none;
  }

  .PC_carousel {
    display: none;
  }

  .dogfood {
    display: flex;
    flex-wrap: wrap;
  }

  .doctorimg {
    display: none;
  }

  .mob_doctorimg img {
    width: 100%;
  }

  .section-content {
    display: none;
  }

  .recommendimg {
    display: none;
  }

  .mob_recommendimg img {
    width: 100%;
  }

  .cardsgroup {
    display: none;
  }

  .mob_cardsgroup_2 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    max-width: 1065px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
  }

  .card_new {
    /* width: 25vw; */
    /* height: 37vh; */
    background-color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: 0.1s;
  }

  h3 {
    font-size: 16px;
    width: 100%;
    margin: 20px auto 5px;
  }

  /* .cardsgroup_3 {
  position: relative;
  width: 20%;
  padding: 0 9.8px 19.6px;
} */

  .sale {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #ca7658;
    z-index: 66;
    margin: 30px 0px 0px;
    color: aliceblue;
  }

  .sale_1 {
    position: absolute;
    margin: 12px 0px 0px 8px;
  }

  .PC_sec_carousel {
    display: none;
  }

  .cardsgroup_2 {
    display: none;
  }

  .mob_5000cardsgroup_2 {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin: 10px auto 0px auto;
    justify-content: space-around;
  }

  .mob_cardsgroup {
    display: flex;
    flex-wrap: wrap;
  }

  .mob_cardsgroup_2 {
    display: flex;
    flex-wrap: wrap;
  }

  .mob_petcard1 {
    width: 100%;
    padding: 0px 10px;
  }

  .mob_circle {
    width: 70vw;
    /* height: 40vh; */
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
  }

  .mob_circle img {
    width: 100%;
  }

  .free1000 {
    display: none;
  }

  .mob_free {
    width: 50%;
  }

  .mob_aboutdc {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    border-top: 1px dashed lightgrey;
  }

  .mob_aboutdc_1 {
    text-align: center;
    margin: auto;
  }

  .mob_footercolor {
    margin: auto;
    width: 90%;
    background-color: #887252;
    color: aliceblue;
  }

  .footer {
    display: none;
  }

  .mob_bottom {
    margin: auto;
    color: lightslategray;
    font-size: 12px;
    text-align: center;
  }

  .bottom {
    display: none;
  }

  .col-md-6,
  .col-sm-6 {
    max-width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
